NEXT_PUBLIC_PROGRAM_ID=your_program_id
NEXT_PUBLIC_COLLECTION_MINT=your_collection_mint
NEXT_PUBLIC_RPC_URL=your_rpc_url
NEXT_PUBLIC_WORKER_URL=your_worker_url
NEXT_PUBLIC_R2_PUBLIC_URL=your_public_r2_url