name = "project_name"
account_id = "R2_ACCOUNT_ID"
main = "src/index.ts"
compatibility_date = "2026-03-01"
compatibility_flags = ["nodejs_compat"]

[triggers]
crons = ["* * * * *"]

[[r2_buckets]]
bucket_name = "R2_BUCKET_NAME"
binding = "R2" # Dont change
remote = true

[[d1_databases]]
database_name = "database_name"
binding = "D1" # Dont change
database_id = "database_id"