R2_ACCOUNT_ID=cloudflare_account_id
R2_ACCESS_KEY_ID=r2_access_key
R2_SECRET_ACCESS_KEY=r2_secret_key
R2_BUCKET_NAME=bucket_name
R2_PUBLIC_URL=https://id.r2.dev
WORKER_URL=your_worker_url
WORKER_SECRET=random_secret_for_wrangler_api_auth